!!! 
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    
    %title Channel Play - 4ME pages
    %link{ :href => 'https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Titillium+Web:300,600', :rel => 'stylesheet', :media => "all", :rel => "stylesheet", :type => 'text/css'}/
    %link{ :href => 'css/style.css', :rel => 'stylesheet', :media => "all", :rel => "stylesheet", :type => 'text/css'}/
    
    :css
      ul{padding-bottom:40px;}
      li{margin-bottom:10px;}
  %body 
    .wrapper
      .genericHeader
        %h1 Channel Play pages
        %p Templates and modules for the site
      %ul
        %li 
          %a{:href => "homepage.html"}homepage.
        %li 
          %a{:href => "channel.html"}Category page
        %li 
          %a{:href => "series.html"}Sub category page
        %li 
          %a{:href => "video_v2.html"}Video page
        %li 
          %a{:href => "search.html"}Search results page
        %li 
          %a{:href => "favourites.html"}Favourites
  