@import "compass/css3";

//partials
@import "partials/normalize";
@import "partials/mixins";


/* !---- variables ---- */

/* !----  fonts ---- */
$headerFont:'Titillium Web', sans-serif;
$bodyFont: 'Noto Sans', sans-serif;
$base-font-size: 15px;

/* !---- color ---- */
//elements
$color-bg:#f8f7f7;
$color-brand:#379df4; //blue colour
$color-onNextbg:#f5f5f5;
$color-menu-dropdown:#3699ed;
$color-divider:#e7e7e7;
$color-boxshaddow:$color-divider;
$color-mobileMenu-bg:#111619;
$color-mobile-footer-btn:#111619;
$color-button-border:#bfbfbf;
$color-button-bg:#eee;
$color-button-icon:rgba( 0, 0, 0,0.6 );
$color-button-hover: rgba($color-brand,0.8);
$color-button-touch:#5ecc9a;
$color-button-success:#3fa911;
$color-button-danger:#bf1e1e;
$color-button-favourited:$color-button-touch;
$color-button-unfavourite:$color-button-touch /2;
$color-thumb-tools-bg:$color-boxshaddow;
$color-dots:#999fa5;
$color-footer:#2a2d2f;
$color-video-tools-bg:#0a2335;
$color-input-border:#e7e7e7;
$color-input-danger:$color-button-danger;
$color-input-danger-bg:#ffe3e3;


//copy
$color-copy-link:$color-brand;
$color-copy-breakcrumb:#fff;
$color-copy-h2:#68b5f7;
$color-copy-socialHeader:#3085cc;
$color-copy-default:#2a3a46;
$color-copy-menu:#999fa5;
$color-copy-button:#b8b8b8;
$color-copy-light:#fff;
$color-copy-dropdown:#d8edff;
$color-copy-danger:$color-button-danger;
$color-copy-thumb-tool:$color-copy-button;
$textShadow: rgba( 0, 0, 0,0.2) 0px 1px 2px;

/* !----  measurement ---- */
$vSpace:em(20px);
$hSpace:em(10px);

// use for desktop thumbs
$smlThumbWidth:218px;
$smlThumbHeight:122px;
$lrgThumbWidth:448px;
$lrgThumbHeight:255px;
$xsmlThumbWeight:$smlThumbWidth/2;
$xsmlThumbHeight: $smlThumbHeight/2; 

// Breakpoints for mixin
$break-xsmall: 360px;
$break-small: 480px;
$break-med: 720px;
$break-large: 955px;
$break-xlarge: 1180px;


// Setting up the Magic Grid for Susy
$total-columns: 12; // 12 columns
$column-width: em(70px); // columns are 4em wide
$gutter-width: em(15px); // with 1em gutters
$grid-padding: em(15px); // and 1em padding on the grid container
$container-width: 100%;
