/* !----  globals ---- */
body{
	background: url("../images/background.png") $color-bg repeat left top;
	color:#333;
	font:{
		family: $bodyFont;
		size: $base-font-size;
		weight:400;
	}
	line-height:em(22px)
}

.wrapper{
	margin:0 auto;
	display:block;
	@include box-sizing(border-box); 
}

h1{
	font:{
		family: $headerFont;
		size: em(40px);
		weight:300;
	}
	line-height:em(20px);
	color: $color-copy-light;
	padding:0;
	@include text-shadow($textShadow);
  margin-bottom:em(5px);
  clear:both;
}

h2{
	font:{
		family: $headerFont;
		size: em(30px);
		weight:300;
	}
	color:$color-copy-h2;
	padding:em(4px) 0 0;
	margin-bottom:em(10px);
	margin-top:em(15px);
  clear:both;
  line-height:em(20px);
}

h2:first-child{
	margin-top: 0;
}

.onDemand h2{
  display:inline-block;
}
h3{
	font:{
		family: $headerFont;
		size: em(24px);
		weight:300;
	}
	color:$color-copy-default;
	padding:em(5px) 0 0;
	margin-bottom:em(10px);
  clear:both;
}
h4{
	font:{
		family: $headerFont;
		size: em(20px);
		weight:300;
	}
	color:$color-copy-default;
	padding:em(5px) 0 0;
	margin-bottom:em(10px);
  clear:both;
}
p{
	font:{
		family: $bodyFont;
		size: em(15px);
		weight:400;
	}
	line-height:1.7em;
	margin:0 0 $vSpace;
}



ul,ol{
	padding-left: em(20px);
}
a{
	border-bottom: $color-copy-link 1px solid;
	text-decoration:none;
	color:$color-copy-default;
	&:hover { 
		background:$color-copy-link;
		color: $color-copy-light;
		@include ceaser-transition($easeOutQuart, background-color, 200ms); 
	}
}
.genericHeader{
	.information{
		width:$formElementsWidth;
	}
	p{
		color: $color-copy-light;
		@include text-shadow($textShadow);
	}
}
.right{
	float:right;
  margin-left:20px;
  margin-bottom:10px;
}

.left{
	float:left;
  margin-right:20px;
  margin-bottom:10px;
}


.clear{
	clear:both;
}

//Forms



fieldset{
	border:none;
  background:rgba(229,239,243,0.3);
  padding:em(20px) em(15px);
  width:50%;
  display:inline-block;
  @include box-sizing(border-box); 
  @include box-shadow(rgba( 0, 0, 0,0.2 ) 0px 0px 2px);
	legend{
	  display:none;
	}
  
  h3{
    display:inline-block;
    float:left;
    margin-right:em(10px);
    margin-bottom:em(25px);
  }
  
  .required_notification{
    float:right;
    padding-top:em(15px);
    color:$color-copy-form-help;
    font:{
      size:em(13px);
    }
  }
  
  label{
  	font:{
  		family: $headerFont;
  		size: em(18px);
  		weight:300;
  	}
    clear:both;
    display:block;
    margin-bottom:em(10px);
  }
  
  .control-label-error{
    color:$color-copy-danger;
  }
  
  label.radio{
  	font:{
  		family: $bodyFont;
  		size: em(13px);
  		weight:400;
  	}
  }
  
  label.checkbox{
  	font:{
  		family: $bodyFont;
  		size: em(13px);
  		weight:400;
  	}
  }
  .help-block{
  	font:{
  		size: em(13px);
  	}
    color:$color-copy-form-help;
    padding-left:2px;
  }
  
  .help-block-error{
  	font:{
  		size: em(13px);
  	}
    color:$color-copy-danger;
  }
  
  input{
    border:1px $color-input-border solid;
    width:$formElementsWidth;
    @include box-sizing(border-box); 
    padding:em(10px);
    margin-bottom:em(5px);
    outline-width: 0;
    font:{
      size:em(13px);
    }
  }
  
  select{
    width:$formElementsWidth;
    height:30px !important;
    display:block;
    font:{
      size:em(18px);
    }
  }
  
  .chzn-container{
    width:$formElementsWidth !important;
  }
  
  
  .mycontainer {
      height: 120px;
  }

  .mycontainer .chzn-container-multi .chzn-choices {
      height: 120px !important;
      overflow-y: auto;
  }
  
  
  input:focus,textarea:focus
  { 
    background-color:#f5f7f8;
    border:2px #9abcc9 solid;
  }
  
  input.error{
    color:$color-input-danger;
    background-color:$color-input-danger-bg;
    border:1px $color-input-danger solid;
  }
  
  input.error:focus,textarea.error:focus
  { 
    background-color:$color-input-danger-bg;
    border:2px $color-input-danger solid;
  }
  
  
  
  
  textarea{
    border:1px $color-input-border solid;
    width:$formElementsWidth;
    padding:em(10px);
    min-height:100px;
    outline-width: 0;
     @include box-sizing(border-box); 
    font:{
      size:em(13px);
    }
  }
  
  
  input[type="radio"] {
    width:auto;
    margin-right:em(10px);
  }
  
  input[type="checkbox"]{
    width:auto;
    margin-right:em(10px);
  }
  
  
  .control-group{
    margin-bottom:em(25px);
  }

}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/**clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

