
.thumbLarge, .thumbSmall{
	border:2px #fff solid;
	display:block;
	margin-bottom:em(10px);
	position:relative;
	@include box-shadow($color-boxshaddow 0px 0px 0px 2px);
	@include box-sizing(border-box); 
	overflow: hidden;
	.play{
    position: absolute;
    bottom: -2px;
    right: 5px;
    opacity:0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
    
	}

	.thumb{
		max-width:100%;
		height: auto !important;
		-ms-interpolation-mode: bicubic;
	}

	.gradient{
		position:absolute;
		top:5px;
		width:100%;
		height:auto !important;
		z-index:10;
		display:block;
		pointer-events: none;
	}
	.thumbInfo{
			padding-left: em(7px);
      padding-right: em(7px);
			bottom:em(7px);
			position:absolute;
			color:$color-copy-light;
			@include text-shadow($textShadow);
			display:inline-block;
			width:100%;
			z-index:11;
      @include box-sizing(border-box);
	}
	.thumbTitle{
		width:100%;
	}
	
	.videoCount{
			position:absolute;
			bottom: 3px;
			right:2px;
			padding:3px 8px;
			margin: 3px;
			z-index:13;
			font-size: em(12px);
			background-color: #333;
			color: $color-copy-light;
			@include border-radius(4px);
	}
	.videoHomeMetadata,.videoMetadata{
		font-size:em(12px);
	}
	p{
		margin:0;
		line-height:em(20px);
		//width:95%;
	}
	a{
		color:$color-copy-light;
	}
	
	&:hover{
		border:2px #fff solid;
		@include box-shadow($color-brand 0px 0px 0px 2px);
		@include ceaser-transition($easeOutQuart, box-shadow, 400ms);
		.play{
			background: $playHover;
			border-color:#fff ;
      opacity:1;
      filter:alpha(opacity=100); /* For IE8 and earlier */
			@include ceaser-transition($easeOutQuart, opacity, 200ms);
     // display:block;
		}
	}
	
}

.thumbLarge{
	width:$lrgThumbWidth;
	height:$lrgThumbHeight; 
}

.thumbSmall{
	width:$smlThumbWidth;
	height: $smlThumbHeight;
}

.colSml{
	width:$smlThumbWidth;
  @include box-sizing(border-box); 
}

.colLrg{
	width:$lrgThumbWidth;
  @include box-sizing(border-box); 
}

.feed{
	//overflow:hidden;
	padding-left: 2px;
	margin-bottom:$vSpace;
	display:block;
	position:relative;
  @include box-sizing(border-box); 
	.showFeed{
		@include border-radius(4px);
		border-bottom: none;
		padding-right:em(30px);
		background: url("../images/sprite_arrows.png") transparent no-repeat 95% -574px;
		&:hover{
			background: url("../images/sprite_arrows.png") transparent no-repeat 95% -685px;
			color: $color-brand;
		}
	}	
	
	.noArrow{
		background:transparent;
		&:hover{
			background:transparent;
			color:$color-copy-default;
		}
	}	
	ul{
		display:block;
		margin:0 0 $vSpace 0;
		padding:0;
		list-style:none;
		width:1600px;
		@include box-sizing(border-box);
		li{
			float:left;
			margin-right:12px;
		}
	}
	

	.rightArrow{
    display: block;
    position: absolute;
    z-index: 20;
    width: 50px;
    height: 90%;
    right: 0;
    top: 30px;
		background: url("../images/arrow_feedright.png") transparent no-repeat -10px 50%;
		&:hover{background: url("../images/arrow_feedright.png") transparent no-repeat -104px 50%;}
	}
	.mobMore{
		display: none;
	}
}

.lastFeed{
	border-bottom: 1px $color-divider solid;
	padding-bottom: $vSpace;
}

.episodeList{
	overflow: visible;
	ul{
		width: 100%;
	}
	.button{
		clear: both;
		display: block;
		margin: em(20px) auto;
		width:em(300px);
		text-align: center;
	}
	@include box-sizing(border-box); 
}

.series{
	overflow: visible;
  @include box-sizing(border-box); 
	.button{display: none;}
	ul{
		width: 100%;
	}
	li{
		&:hover{
			.thumbSmall{
				border:2px #fff solid;
				@include box-shadow($color-brand 0px 0px 0px 2px);
			}
		}
	}
}

//Favourites
.favourites{
  @include box-sizing(border-box); 
  	overflow: visible;
  	.button{display: none;}
  	ul{
  		width: 100%;
  	}
    .favourite,.favourited{
      position: absolute;
      right: 5px;
      top: 5px; 
    }
    .tools{
      padding:em(7px) em(7px) 0 ;
      background-color:$color-thumb-tools-bg;
      margin-top:em(-9px);
      	@include box-shadow($color-boxshaddow 0px 0px 0px 2px);
        @include border-radius(2px);
      .favourite,.favourited{
        float:right;
        margin:0;
      }
      p{
        font:{
          size:em(12px);
        }
        color:$color-copy-button;
        padding-top:em(10px);
        float:left;
        display:inline-block;
      }
    }
  }
  
  //Favourites v2
  .favourites-v2{
    	overflow: visible;
    	.button{display: none;}
    	ul{
    		width: 100%;
        li{
          margin-bottom:em(10px);
        }
    	}
      .thumbInfo{
        padding-left:5px;
       
    		
        .thumbTitle{
          width:100%;
        }
        .play{
          opacity:0;
        }
      }
      
      .thumbSmall{
        &:hover{
      		.play{
      			background: $playHover;
      			border-color:#fff ;
            opacity:1;
      			@include ceaser-transition($easeOutQuart, opacity, 200ms);
            
      		}
        }
      }
      
      
      .tools{
        padding:em(7px) em(7px) 0 ;
        background-color:$color-thumb-tools-bg;
        margin-top:em(-9px);
        	@include box-shadow($color-boxshaddow 0px 0px 0px 2px);
          @include border-radius(2px);
        .favourite,.favourited{
          float:right;
          margin:0;
          @include ceaser-transition($easeOutQuart, background-color, 200ms);
        }
        p{
          font:{
            size:em(12px);
          }
          color:$color-copy-button;
          padding-top:em(10px);
          float:left;
          color:#d6d6d6;
        }
        
        &:hover{
      		.favourited{
      			 background: url("../images/sprite_icons.png") $color-button-unfavourite no-repeat -37px -96px;
             	@include ceaser-transition($easeOutQuart, background-color, 200ms);
      		}
          p{
            color:$color-button-unfavourite;
            @include ceaser-transition($easeOutQuart, color, 200ms);
            //opacity:1;
          }
        }
      }
    }
  