
.onNextArrow{
	height:em(40px);
	width:200%;
	background: url("../images/next_bottom_arrow.png") transparent no-repeat left 1px;
	clear:both;
	z-index:8;
	position:relative;
	left: em(-40px);
}


.epgTime{
	position: absolute;
	top: em(155px);
	padding-top: 10px;
	display: block;
	font-size:em(12px);
	color:$color-copy-menu;
	background: url("../images/epg_line.gif") transparent no-repeat left 0;
}

.epgItem{
	border-right:1px #ececec solid;

	.epgTitle{
		font-size:em(15px);
		font-weight:bold;
		margin: 0;
		padding:0;
	}

	.epgDesc{
		font-size:em(12px);
		padding-right:10px;
		color:#666;
	}

	.epgStartTime{
		display: block;
		font-size:em(12px);
		margin-bottom: 0;
		color:$color-copy-menu;
	}
}

.epgItemDark{
	border-right:1px rgba(133,133,133,0.3) solid;

	.epgTitle{
		font-size:em(15px);
		margin: 0;
		padding:0;
		color:$color-copy-epgTitle;
	}

	.epgDesc{
		font-size:em(12px);
		padding-right:10px;
		color:#d9d9d9;
	}

	.epgStartTime{
		display: block;
		font-size:em(12px);
		margin-bottom: 0;
		color:$color-copy-menu;
	}
}


.onNowContainer{
	display:block;
	position:relative;
	left:0;
}

#epgDark{
		display: block;
		position: relative;
	  overflow:hidden;
}

.epgDarkArrow{
	height:em(20px);
	width:200%;
	background: url("../images/video_bottom_arrow.png") transparent no-repeat left 1px;
	clear:both;
	z-index:8;
	position:relative;
	left: em(-40px);
	margin-top: $vSpace;
}

#epgOverlay{
		display: block;
		position: relative;
		left:-20px;
		padding:20px;
	  overflow:hidden;
	  background:rgba(0,0,0,0.3);
		width:100%;
}

#epg{
	//padding-bottom:30px;
	display: block;
	position: relative;
  	overflow:hidden;

	.rightArrow{
		top:30px;
	}

	.leftArrow{
		top:30px;
	}

	ul{
		width:1600px;
		li{
			.thumbSmall{
				&:hover{
					border:2px #fff solid;
					@include box-shadow(#e6e6e6 0px 0px 0px 2px);
				}
			}
		}
	}
}

.epgPagination{
	width:100%;
	position:relative;
	clear: both;
	display:none;
	ul{
		list-style: none;
		padding: em(5px);
		display: block;
		text-align: center;
		position:relative;
		left:50%;
		float:left;
		clear:left;
		li{
			float: left;
			margin-right: $vSpace;
			display: block;
			right:50%;
			a{
				width: $hSpace;
				height: $hSpace;
				background-color: transparent;
				@include border-radius($hSpace);
				border:2px $color-dots solid;
				display:block;
				&:hover{
					background-color: $color-dots;
				}
			}

			.selected{
				background-color: $color-dots;
			}
		}
	}
}

